<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/csci331/src/Pathfinding.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Pathfinding"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="bfs /home/han/GIT/Cracking_coding/Ch-1/csci331/src/RITMAP.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="csci331"/>
</launchConfiguration>
