<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COPADS/Provided/module02/UC1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="module02.UC1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="java UC1 cs.rit.edu/~ark/251/module02/notes.shtml cs.rit.edu/~ark/251/p1/p1.shtml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COPADS"/>
</launchConfiguration>
